apiVersion: v1
kind: ConfigMap
metadata:
  name: trino-control-plane-config
data:
  application.yml: |
    server:
      port: 8080
    management:
      endpoints:
        web:
          exposure:
            include: health,info
